@import './base.css';

:root {
  /* Colores principales */
  --color-background: #1A1C2E;
  --color-background-secondary: #23243a;
  --color-panel: #2B2E43;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #aaa;

  /* Colores de acento */
  --color-accent-light-green: #45FF9A;
  --color-accent-green: #46C4BD;
  --color-accent-dark-green: #34A4EE;
  --color-accent-blue: #5A6BFF;
  --color-accent-purple: #8A64FF;
  --color-accent-grey: #35365a;

  /* Colores auxiliares */
  --color-border-light: #3A3C52;

  --color-sidebar-icon: #5A6BFF;
}

body.light-theme {
  --color-background: #f8f8f8;
  --color-panel: #fff;
  --color-text-primary: #23243a;
  --color-text-secondary: #4a4b7d;
  --color-border-light: #e0e0e0;
}

#app {
  background-color: var(--color-background); /*Make so all components inherit background color from this*/
  color: var(--color-text-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Aplicación del fondo general */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.combobox {
  background-color: #1e1e2f;
  color: #e0f7fa;
  border: 1px solid #3a3a4d;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  width: 95%;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent;
}

.combobox:focus {
  border-color: var(--color-accent-green);
}

.combobox option {
  background-color: #1e1e2f;
  color: #e0f7fa;
}

.combobox:disabled {
  background-color: #2e2e3e;
  color: #777b8a;
  border-color: #3a3a4d;
  cursor: not-allowed;
  opacity: 0.7;
}

.color-fill {
  fill: var(--color-sidebar-icon);
}